[core]
	pager = delta

[user]
	name = Ryosuke Hayashi
	email = hayashi@hayashikun.com

[alias]
	graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	st = status
	cm = commit
	stt = status -uno
	pl = pull
	plh = "!f() { git rev-parse --abbrev-ref HEAD | xargs git pull origin; }; f"
	ph = push
	phh = push origin HEAD
	di = diff
	difff = diff --word-diff
	di-st = diff --staged
	br = branch
	co = checkout
	com = "!f() { git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@' | xargs git checkout; }; f"
	res = restore
	res-st = restore --staged

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true

[merge]
    conflictstyle = diff3

[diff]
	colorMoved = default

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
    required = true

[pull]
	rebase = false

